.45_3 { 
	overflow:hidden;
}
.e45_3 { 
	width:848px;
	height:794px;
	position:absolute;
}
.e45_4 { 
	width:848px;
	height:794px;
	position:absolute;
	left:0px;
	top:0px;
}
.e45_5 { 
	background-color:rgba(253.0000001192093, 199.53999996185303, 9.999999403953552, 1);
	width:848px;
	height:794px;
	position:absolute;
	left:0px;
	top:0px;
}
.e45_6 { 
	background-color:rgba(228.0000016093254, 79.00000289082527, 44.000001177191734, 1);
	width:657px;
	height:31px;
	position:absolute;
	left:155px;
	top:692px;
	background-image:url();
	background-repeat:no-repeat;
	background-size:cover;
}
.e45_7 { 
	width:240px;
	height:31px;
	position:absolute;
	left:38px;
	top:692px;
	background-image:url(images4/se\ habla.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e45_8 { 
	color:rgba(17.00000088661909, 48.000000938773155, 201.00000321865082, 1);
	width:299px;
	height:45px;
	position:absolute;
	left:277px;
	top:737px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e45_9 { 
	color:rgba(17.00000088661909, 48.000000938773155, 201.00000321865082, 1);
	width:113px;
	height:11px;
	position:absolute;
	left:246px;
	top:769px;
	font-family:Roboto;
	text-align:center;
	font-size:11px;
	letter-spacing:1;
	line-height:px;
}
.e45_10 { 
	color:rgba(17.00000088661909, 48.000000938773155, 201.00000321865082, 1);
	width:90px;
	height:11px;
	position:absolute;
	left:382px;
	top:769px;
	font-family:Roboto;
	text-align:center;
	font-size:11px;
	letter-spacing:1;
	line-height:px;
}
.e45_12 { 
	color:rgba(17.00000088661909, 48.000000938773155, 201.00000321865082, 1);
	width:100px;
	height:11px;
	position:absolute;
	left:495px;
	top:768px;
	font-family:Roboto;
	text-align:center;
	font-size:11px;
	letter-spacing:1;
	line-height:px;
}
.e45_14 { 
	width:283px;
	height:130px;
	position:absolute;
	left:282px;
	top:562px;
	background-image:url(images4/pngwing_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e45_16 { 
	color:rgba(0, 0, 0, 1);
	width:756px;
	height:90px;
	position:absolute;
	left:46px;
	top:472px;
	font-family:Abhaya Libre;
	text-align:center;
	font-size:36px;
	letter-spacing:5;
	line-height:px;
}
.e45_18 { 
	width:771px;
	height:437px;
	position:absolute;
	left:38px;
	top:27px;
	background-image:url(images4/bcs1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
