.11_2 { 
	overflow:hidden;
}
.e11_2 { 
	width:931px;
	height:815px;
	position:absolute;
}
.e1_49 { 
	width:931px;
	height:815px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_50 { 
	background-color:rgba(253.0000001192093, 199.53999996185303, 9.999999403953552, 1);
	width:931px;
	height:815px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_52 { 
	background-color:rgba(228.0000016093254, 79.00000289082527, 44.000001177191734, 1);
	width:886px;
	height:31px;
	position:absolute;
	left:31px;
	top:692px;
	background-image:url(images/image.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_53 { 
	width:256px;
	height:31px;
	position:absolute;
	left:17px;
	top:692px;
	background-image:url(images/image.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_54 { 
	color:rgba(17.00000088661909, 48.000000938773155, 201.00000321865082, 1);
	width:299px;
	height:45px;
	position:absolute;
	left:317px;
	top:735px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e1_55 { 
	color:rgba(17.00000088661909, 48.000000938773155, 201.00000321865082, 1);
	width:113px;
	height:11px;
	position:absolute;
	left:294px;
	top:769px;
	font-family:Roboto;
	text-align:center;
	font-size:11px;
	letter-spacing:1;
	line-height:px;
}
.e1_56 { 
	color:rgba(17.00000088661909, 48.000000938773155, 201.00000321865082, 1);
	width:90px;
	height:11px;
	position:absolute;
	left:429px;
	top:769px;
	font-family:Roboto;
	text-align:center;
	font-size:11px;
	letter-spacing:1;
	line-height:px;
}
.e1_57 { 
	width:891px;
	height:216px;
	position:absolute;
	left:21px;
	top:16px;
	background-image:url(images/img_btc.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_58 { 
	color:rgba(17.00000088661909, 48.000000938773155, 201.00000321865082, 1);
	width:100px;
	height:11px;
	position:absolute;
	left:540px;
	top:753px;
	font-family:Roboto;
	text-align:center;
	font-size:11px;
	letter-spacing:1;
	line-height:px;
}
.e1_59 { 
	color:rgba(17.00000088661909, 48.000000938773155, 201.00000321865082, 1);
	width:513px;
	height:11px;
	position:absolute;
	left:197px;
	top:775px;
	font-family:Roboto;
	text-align:center;
	font-size:11px;
	letter-spacing:1;
	line-height:px;
}
.e2_124 { 
	width:487px;
	height:226px;
	position:absolute;
	left:222px;
	top:450px;
	background-image:url(images2/logo1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_3 { 
	color:rgba(0, 0, 0, 1);
	width:708px;
	height:100px;
	position:absolute;
	left:113px;
	top:315px;
	font-family:Abhaya Libre;
	text-align:center;
	font-size:24px;
	letter-spacing:2;
	line-height:px;
}
.e17_4 { 
	color:rgba(0, 0, 0, 1);
	width:700px;
	height:150px;
	position:absolute;
	left:131px;
	top:235px;
	font-family:Abhaya Libre;
	text-align:center;
	font-size:64px;
	letter-spacing:5;
	line-height:px;
}
