.8_2 { 
	overflow:hidden;
}
.e8_2 { 
	width:931px;
	height:815px;
	position:absolute;
}
.e1_45 { 
	width:931px;
	height:815px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_43 { 
	background-color:rgba(253.0000001192093, 199.53999996185303, 9.999999403953552, 1);
	width:931px;
	height:815px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_3 { 
	width:900px;
	height:672px;
	position:absolute;
	left:17px;
	top:9px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_36 { 
	background-color:rgba(228.0000016093254, 79.00000289082527, 44.000001177191734, 1);
	width:867px;
	height:31px;
	position:absolute;
	left:40px;
	top:692px;
	background-image:url(images/image.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_37 { 
	width:256px;
	height:31px;
	position:absolute;
	left:17px;
	top:692px;
	background-image:url(images/image.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_38 { 
	color:rgba(17.00000088661909, 48.000000938773155, 201.00000321865082, 1);
	width:299px;
	height:45px;
	position:absolute;
	left:317px;
	top:733px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e1_39 { 
	color:rgba(17.00000088661909, 48.000000938773155, 201.00000321865082, 1);
	width:113px;
	height:11px;
	position:absolute;
	left:294px;
	top:769px;
	font-family:Roboto;
	text-align:center;
	font-size:11px;
	letter-spacing:1;
	line-height:px;
}
.e1_40 { 
	color:rgba(17.00000088661909, 48.000000938773155, 201.00000321865082, 1);
	width:90px;
	height:11px;
	position:absolute;
	left:429px;
	top:769px;
	font-family:Roboto;
	text-align:center;
	font-size:11px;
	letter-spacing:1;
	line-height:px;
}
.e1_44 { 
	width:891px;
	height:216px;
	position:absolute;
	left:21px;
	top:16px;
	background-image:url(images/img_btc.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_41 { 
	color:rgba(17.00000088661909, 48.000000938773155, 201.00000321865082, 1);
	width:100px;
	height:11px;
	position:absolute;
	left:540px;
	top:769px;
	font-family:Roboto;
	text-align:center;
	font-size:11px;
	letter-spacing:1;
	line-height:px;
}
.e1_42 { 
	color:rgba(17.00000088661909, 48.000000938773155, 201.00000321865082, 1);
	width:513px;
	height:11px;
	position:absolute;
	left:210px;
	top:796px;
	font-family:Roboto;
	text-align:center;
	font-size:11px;
	letter-spacing:1;
	line-height:px;
}
