.28_8 { 
	overflow:hidden;
}
.e28_8 { 
	width:931px;
	height:761px;
	position:absolute;
}
.e2_153 { 
	background-color:rgba(253.0000001192093, 199.53999996185303, 9.999999403953552, 1);
	width:931px;
	height:761px;
	position:absolute;
	left:0px;
	top:0px;
}
.e25_5 { 
	color:rgba(0, 0, 0, 1);
	width:178px;
	height:45px;
	position:absolute;
	left:380px;
	top:245px;
	font-family:Abhaya Libre;
	text-align:center;
	font-size:32px;
	letter-spacing:1;
	line-height:px;
}
.e26_6 { 
	color:rgba(0, 0, 0, 1);
	width:283px;
	height:75px;
	position:absolute;
	left:346px;
	top:338px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:24px;
	letter-spacing:1;
	line-height:px;
}
.e2_168 { 
	color:rgba(228.0000016093254, 79.00000289082527, 44.000001177191734, 1);
	width:345px;
	height:45px;
	position:absolute;
	left:307px;
	top:276px;
	font-family:Rosario;
	text-align:center;
	font-size:40px;
	letter-spacing:5;
	line-height:px;
}
.e2_155 { 
	background-color:rgba(228.0000016093254, 79.00000289082527, 44.000001177191734, 1);
	width:886px;
	height:31px;
	position:absolute;
	left:20px;
	top:645px;
	background-image:url(images2/se\ habla.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_156 { 
	width:261px;
	height:31px;
	position:absolute;
	left:20px;
	top:645px;
	background-image:url(images2/se\ habla.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_157 { 
	color:rgba(17.00000088661909, 48.000000938773155, 201.00000321865082, 1);
	width:299px;
	height:45px;
	position:absolute;
	left:319px;
	top:685px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e2_158 { 
	color:rgba(17.00000088661909, 48.000000938773155, 201.00000321865082, 1);
	width:113px;
	height:11px;
	position:absolute;
	left:294px;
	top:715px;
	font-family:Roboto;
	text-align:center;
	font-size:11px;
	letter-spacing:1;
	line-height:px;
}
.e2_159 { 
	color:rgba(17.00000088661909, 48.000000938773155, 201.00000321865082, 1);
	width:90px;
	height:11px;
	position:absolute;
	left:429px;
	top:715px;
	font-family:Roboto;
	text-align:center;
	font-size:11px;
	letter-spacing:1;
	line-height:px;
}
.e2_160 { 
	width:891px;
	height:216px;
	position:absolute;
	left:21px;
	top:16px;
	background-image:url(images2/bcs.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_161 { 
	color:rgba(17.00000088661909, 48.000000938773155, 201.00000321865082, 1);
	width:100px;
	height:11px;
	position:absolute;
	left:540px;
	top:708px;
	font-family:Roboto;
	text-align:center;
	font-size:11px;
	letter-spacing:1;
	line-height:px;
}
.e2_162 { 
	color:rgba(17.00000088661909, 48.000000938773155, 201.00000321865082, 1);
	width:513px;
	height:11px;
	position:absolute;
	left:205px;
	top:730px;
	font-family:Roboto;
	text-align:center;
	font-size:11px;
	letter-spacing:1;
	line-height:px;
}
.e2_151 { 
	width:301px;
	height:389px;
	position:absolute;
	left:11px;
	top:235px;
	background-image:url(images3/baby.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_167 { 
	width:272px;
	height:389px;
	position:absolute;
	left:620px;
	top:235px;
	background-image:url(images3/saul.png);
	background-repeat:no-repeat;
	background-size:cover;
}
form {
	color:rgba(0, 0, 0, 1);
	width:513px;
	height:11px;
	position:absolute;
	left:220px;
	top:445px;
	font-family:Abhaya Libre;
	text-align:center;
	font-size:20px;
	letter-spacing:1;
	line-height:px;
	
}